@import "colors.css";
* {
  all: unset;
}

frame.background {
  background: alpha(@surface, .92);
  color: @on_surface;
  box-shadow: 0 0 8px 0 alpha(@shadow, .92);
}

frame.background.top {
  font-size: 1.2rem;
  padding: 4px;
  background: @surface;
}

box.horizontal>button.default.suggested-action.text-button {
  background: @primary_container;
  color: @on_primary_container;
  padding: 8px;
  margin: 0 8px;
  transition: background .3s ease-in-out;
}

box.horizontal>button.default.suggested-action.text-button:hover {
  background: shade(@primary_container, 1.2);
}

box.horizontal>button.text-button {
  background: @surface;
  color: @on_error_container;
  padding: 8px;
  transition: background .3s ease-in-out;
}

box.horizontal>button.text-button:hover {
  background: @error;
  color: @on_error;
}

combobox {
  background: @surface_variant;
  color: @on_surface;
  padding: 8px;
  box-shadow: 0 0 4px 0 alpha(@shadow, .6);
}

combobox:disabled {
  background: @surface_dim;
  color: alpha(@on_surface_variant, .6);
  padding: 8px;
  box-shadow: 0 0 4px 0 alpha(@shadow, .6);
}

modelbutton.flat {
  background: @surface_variant;
  padding: 6px;
  margin: 2px;
  border-spacing: 6px;
}

modelbutton.flat:hover {
  background: shade(@surface_variant, 1.2);
}

button.image-button.toggle {
  margin-right: 36px;
  padding: 8px;
}

button.image-button.toggle:hover {
  background: @surface;
  box-shadow: 0 0 4px 0px alpha(@shadow, .6);
}

button.image-button.toggle:disabled {
  background: @surface_dim;
  color: alpha(@on_surface_variant, .6);
  margin-right: 36px;
  padding: 8px;
}

combobox>popover {
  background: @surface_variant;
  color: @on_surface_variant;
  border-spacing: 6px;
  box-shadow: 0 0 4px 0 alpha(@shadow, .6);
  padding: 4px 8px;
}

combobox>popover>contents {
  padding: 2px;
}

combobox:hover {
  background: shade(@surface_variant, 1.2);
}

entry.password {
  border: 2px solid @primary;
  padding: 8px;
}

entry.password:hover {
  border: 2px solid @primary;
}
