window {
   background-image: url("/home/void/Library/Images/Wallpapers/Space/nebula.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-color: black;
}
